{% extends 'monitor/base_monitor.html' %}
{% load static %}
{% block title %} Device Dashboard {% endblock %}
{% block devices_current %}
 <span class="sr-only">(current)</span>
{% endblock %}

{% block devices_active %}
    active
{% endblock %}

{% block main_content %}
    <link href="{% static 'monitor/styles/round.css' %}" rel="stylesheet" />
    <h2>Status information for {{ device.site_name }}</h2>
    <div class="card" >
        <div class="card-header">
          Status information
        </div>
        <table class="card-table table">
          <thead>
            <tr>
              <th scope="col">Info</th>
              <th scope="col">Status</th>
              <th scope="col">Last Updated</th>
            </tr>
          </thead>
          <tbody id="status-info">
            <tr>
              <td>DSE Status</td>
              <td>{% if not status_info %} n/a {% else %} {{ status_info.dse_status }}{% endif %}</td>
              <td>{% if not status_info %} n/a {% else %} {{ status_info.time }}{% endif %}</td>
            </tr>
            <tr>
              <td>DSE Mode</td>
              <td>{% if not status_info %} n/a {% else %} {{ status_info.dse_mode }}{% endif %}</td>
              <td>{% if not status_info %} n/a {% else %} {{ status_info.time }}{% endif %}</td>
            </tr>
            <tr>
                <td>Local Storage</td>
                <td>{% if not status_info %} n/a {% else %} {{ status_info.local_storage }}{% endif %}</td>
              <td>{% if not status_info %} n/a {% else %} {{ status_info.time }}{% endif %}</td>
            </tr>
            <!--
            <tr>
                <td>
                    <div class="led-box">
                        <div class="led-yellow"></div>
                        <p>Mains</p>
                    </div>
                </td>
                <td>
                    <div class="led-box">
                        <div class="led-red"></div>
                        <p>Generator</p>
                    </div>
                </td>
                <td>
                    <div class="led-box">
                        <div class="led-blue"></div>
                        <p>Backup</p>
                    </div>
                </td>
            </tr>
          -->
          </tbody>
        </table>
    </div>
    <br><br>

    <!-- Alarms -->
    <div class="card" >
        <div class="card-header">
          Alarms
        </div>
        <table class="card-table table table-hover">
          <thead>
            <tr>
                <th scope="col">Alarm</th>
                <th scope="col">Status</th>
                <th scope="col">Last updated</th>
            </tr>
          </thead>
          <tbody id="alarms_table">
            <tr>
                 <td>Dg  Fail  To Start</td>
                <td>{% if not alarms_log %} n/a {% else %} <div class="{{ alarms_log.dg_fail_to_start_status }}"></div>{% endif %}</td>
                 <td>{% if not alarms_log %} n/a {% else %} {{ mains_log.time }}{% endif %}</td>
            </tr>
            <tr>
                 <td>DSE Emergency Stop</td>
                 <td>{% if not alarms_log %} n/a {% else %} <div class="{{ alarms_log.dse_emergency_stop_status }}"></div>{% endif %}</td>
                 <td>{% if not alarms_log %} n/a {% else %} {{ mains_log.time }}{% endif %}</td>
            </tr>
            <tr>
                 <td>Dg Low Fuel</td>
                 <td>{% if not alarms_log %} n/a {% else %} <div class="{{ alarms_log.dg_low_fuel_status }}"></div>{% endif %}</td>
                 <td>{% if not alarms_log %} n/a {% else %} {{ mains_log.time }}{% endif %}</td>
            </tr>
            <tr>
                 <td>Dg Battery Low</td>
                 <td>{% if not alarms_log %} n/a {% else %} <div class="{{ alarms_log.dg_battery_low_status }}"></div>{% endif %}</td>
                 <td>{% if not alarms_log %} n/a {% else %} {{ mains_log.time }}{% endif %}</td>
            </tr>
            <tr>
                 <td>Charging Alt Fail</td>
                 <td>{% if not alarms_log %} n/a {% else %} <div class="{{ alarms_log.charging_alt_fail_status }}"></div>{% endif %}</td>
                 <td>{% if not alarms_log %} n/a {% else %} {{ mains_log.time }}{% endif %}</td>
            </tr>
            <tr>
                 <td>AC Mains Fail</td>
                 <td>{% if not alarms_log %} n/a {% else %} <div class="{{ alarms_log.ac_mains_fail_status }}"></div>{% endif %}</td>
                 <td>{% if not alarms_log %} n/a {% else %} {{ mains_log.time }}{% endif %}</td>
            </tr>
            <tr>
                 <td>High Coolant Temp</td>
                 <td>{% if not alarms_log %} n/a {% else %} <div class="{{ alarms_log.high_coolant_temp_status }}"></div>{% endif %}</td>
                 <td>{% if not alarms_log %} n/a {% else %} {{ mains_log.time }}{% endif %}</td>
            </tr>
            <tr>
                 <td>Site On Batteries</td>
                 <td>{% if not alarms_log %} n/a {% else %} <div class="dot-green"></div>{% endif %}</td>
                 <td>{% if not alarms_log %} n/a {% else %} {{ mains_log.time }}{% endif %}</td>
            </tr>
            <tr>
                 <td>Mains On Load</td>
                 <td>{% if not alarms_log %} n/a {% else %} <div class="dot"></div>{% endif %}</td>
                 <td>{% if not alarms_log %} n/a {% else %} {{ mains_log.time }}{% endif %}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <br><br>


    <!-- Mains Parameters-->
    <div class="card" >
        <div class="card-header">
          Mains information
        </div>
        <table class="card-table table table-hover">
          <thead>
            <tr>
              <th scope="col">Parameter</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody id="mains_table">
            <tr>
              <td>Status</td>
              <td><div class="{{ mains_state }}"></div></td>
            </tr>
            <tr>
              <td>Time updated</td>
              <td>{% if not mains_log %} n/a {% else %} {{ mains_log.time }}{% endif %}</td>
            </tr>
            <tr>
              <td>L1-N Voltage</td>
              <td>{% if not mains_log %} n/a {% else %} {{ mains_log.l1nv }}{% endif %}</td>
            </tr>
            <tr>
                <td>L2-N Voltage</td>
                <td>{% if not mains_log %} n/a {% else %} {{ mains_log.l2nv }}{% endif %}</td>
            </tr>
            <tr>
                <td>L3-N Voltage</td>
                <td>{% if not mains_log %} n/a {% else %} {{ mains_log.l3nv }}{% endif %}</td>
            </tr>
            <tr>
                <td>L1-L2 Voltage</td>
                <td>{% if not mains_log %} n/a {% else %} {{ mains_log.l1l2v }}{% endif %}</td>
            </tr>
            <tr>
                <td>L1-L3 Voltage</td>
                <td>{% if not mains_log %} n/a {% else %} {{ mains_log.l1l3v }}{% endif %}</td>
            </tr>
            <tr>
                <td>L2-L3 Voltage</td>
                <td>{% if not mains_log %} n/a {% else %} {{ mains_log.l2l3v }}{% endif %}</td>
            </tr>
            <tr>
                <td>L1-N Current</td>
                <td>{% if not mains_log %} n/a {% else %} {{ mains_log.l1na }}{% endif %}</td>
            </tr>
            <tr>
                <td>L2-N Current</td>
                <td>{% if not mains_log %} n/a {% else %} {{ mains_log.l2na }}{% endif %}</td>
            </tr>
            <tr>
                <td>L3-N Current</td>
                <td>{% if not mains_log %} n/a {% else %} {{ mains_log.l3na }}{% endif %}</td>
            </tr>
            <tr>
                <td>Frequency (Hz)</td>
                <td>{% if not mains_log %} n/a {% else %} {{ mains_log.frequency }}{% endif %}</td>
            </tr>
            <tr>
                <td>Backup Voltage</td>
                <td>{% if not mains_log %} n/a {% else %} {{ mains_log.backup }}{% endif %}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <br><br>

    <!-- Generator Parameters-->
    <div class="card" >
        <div class="card-header">
          Generator information
        </div>
        <table class="card-table table table-hover">
          <thead>
            <tr>
              <th scope="col">Parameter</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody id="gen_table">
            <tr>
              <td>Status</td>
              <td><div class="{{ gen_state }}"></div></td>
            </tr>
            <tr>
              <td>Time updated</td>
              <td>{% if not gen_log %} n/a {% else %} {{ gen_log.time }}{% endif %}</td>
            </tr>
            <tr>
              <td>L1-N Voltage</td>
              <td>{% if not gen_log %} n/a {% else %} {{ gen_log.l1nv }}{% endif %}</td>
            </tr>
            <tr>
                <td>L2-N Voltage</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.l2nv }}{% endif %}</td>
            </tr>
            <tr>
                <td>L3-N Voltage</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.l3nv }}{% endif %}</td>
            </tr>
            <tr>
                <td>L1-L2 Voltage</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.l1l2v }}{% endif %}</td>
            </tr>
            <tr>
                <td>L1-L3 Voltage</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.l1l3v }}{% endif %}</td>
            </tr>
            <tr>
                <td>L2-L3 Voltage</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.l2l3v }}{% endif %}</td>
            </tr>
            <tr>
                <td>L1-N Current</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.l1na }}{% endif %}</td>
            </tr>
            <tr>
                <td>L2-N Current</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.l2na }}{% endif %}</td>
            </tr>
            <tr>
                <td>L3-N Current</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.l3na }}{% endif %}</td>
            </tr>
            <tr>
                <td>Frequency (Hz)</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.frequency }}{% endif %}</td>
            </tr>
            <tr>
                <td>Generator Run Hours</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.run_hours }}{% endif %}</td>
            </tr>
            <tr>
                <td>Generator RPM</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.rpm }}{% endif %}</td>
            </tr>
            <tr>
                <td>Battery Voltage</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.battery_voltage }}{% endif %}</td>
            </tr>
            <tr>
                <td>Alternator Voltage</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.alternator_voltage }}{% endif %}</td>
            </tr>
            <tr>
                <td>Engine Temperature</td>
                <td>{% if not gen_log %} n/a {% else %} {{ gen_log.temperature }}{% endif %}</td>
            </tr>
          </tbody>
        </table>
    </div>
    <br><br>
    <div>
        <p>Additional links</p>
        <p><a href="{% url 'monitor:mains_logs' gen_log.device.serial_number %}">Mains logs</a></p>
        <p><a href="{% url 'monitor:gen_logs' gen_log.device.serial_number %}">Generator logs logs</a></p>


    </div>

    <script src="{% static 'monitor/Scripts/ajax.js' %}"></script>
{% endblock %}